@use '../base/settings';

// Buttons
%default-button {
    color: #fff;
    border-width: 0px;
    border-radius: settings.$border-radius;
    display: inline-block;
    font-size: 1.7rem;
    line-height: settings.$xl-size;
    padding: 0 settings.$m-size;
    transition: all 0.3s ease-in-out;
}

.button {
    @extend %default-button;
    background-color: #000;
}

.button:hover {
    background-color: settings.$blue;
}

.button--link {
    @extend %default-button;
    background-color: initial;
}

.button--link:hover {
    background-color: initial;
    text-decoration: underline;
}

.button--remove {
    @extend %default-button;
    background-color: settings.$dark-gray;
}

.button--remove:hover {
    background-color: settings.$purple;
}

// Social button
%social-btn {
    @include settings.flex(wrap, center);
    border-radius: 2px;
    border-width: 0;
    box-shadow: settings.$box-shadow;
    cursor: pointer;
    font-weight: 700;
    line-height: settings.$xl-size;
    margin-bottom: settings.$s-size;
    margin-left: auto;
    margin-right: auto;
    width: 270px;

    svg {
        font-size: settings.$m-size;
        line-height: settings.$m-size;
        margin-left: settings.$l-size;
        margin-right: settings.$m-size;
    }
}

.btn--google {
    @extend %social-btn;
    color: #757575;
    background-color: #fff;
}

.btn--facebook {
    @extend %social-btn;
    color: #fff;
    background-color: #3A5997;
}

.btn--twitter {
    @extend %social-btn;
    color: #fff;
    background-color: #56ACEE;
}

.btn--github {
    @extend %social-btn;
    color: #fff;
    background-color: #333333;
}

.btn--emial {
    @extend %social-btn;
    color: #fff;
    background-color: #DB4437;
}



// Links
.link {
    color: deeppink;
    display: block;
    margin-bottom: settings.$m-size;
}

.link:hover {
    text-decoration: underline;
}



