@use '../base/settings';

// Denormalize
/*button, input, optgroup, select, textarea {
    line-height: 2.7rem;
}*/

// Wrappers
.form > * {
    margin-bottom: settings.$s-size;
}

.form__wrapper {
    @include settings.flex(wrap, baseline, space-between);
    // border-radius: settings.$border-radius;
    // box-shadow: settings.$box-shadow;
    // padding: settings.$s-size settings.$m-size;
}

// Elements
%form__item {
    border-bottom: 1px solid settings.$gray;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    outline: none;
    height: settings.$xl-size;
    margin-bottom: 1.6rem;
    padding: settings.$xs-size 0;
    transition: all 0.2s ease-in-out;

    &::placeholder {
        color: settings.$dark-gray;
    }

    &:focus {
        border-bottom: 1px solid black;
    }
}

// Login form ------------
.email-form__wrapper {
    @include settings.flex(wrap, stretch, space-between);
}

.form__item--emial, 
.form__item--password {
    @extend %form__item;
    flex-basis: 100%;
    margin-right: 4%;
}

.form__buttom-wrpper button:first-child {
    margin-right: settings.$s-size;
}

.form__buttom-wrpper button {
    box-shadow: settings.$box-shadow;
}
// -----------------------

.form__item--name {
    @extend %form__item;
    border-top-left-radius: settings.$border-radius;
    border-top-right-radius: settings.$border-radius;
    flex-basis: 100%;
}

.form__item--status {
    @extend %form__item;
    color: settings.$dark-gray;
}

.form__item--invoice {
    @extend %form__item;
    flex-basis: 48%;
}

.DateRangePicker {
    border-bottom: 1px solid settings.$gray;
    flex-basis: 48%;
}

.DateRangePickerInput__withBorder {
    border: none;
    width: 100%;
}

.DateInput_input {
    font-size: settings.$text-normal;
    font-weight: normal;
}

.form__item--color {
    @extend %form__item;
    color: settings.$dark-gray;
    flex-basis: 48%;

    input {
        margin-left: 10px;
    }
}

.form__item--description {
    @extend %form__item;
    flex-basis: 100%;
}

.form__item--normal {
    @extend %form__item;
    border-radius: settings.$border-radius;
    height: settings.$xl-size;
}

.form__item--description {
    @extend %form__item;
    height: 20rem;
}

.form__item--submit {
    box-shadow: settings.$box-shadow;
}

// Login email page
.form__buttons-wrapper .button {
    margin-right: settings.$s-size;
    margin-bottom: settings.$s-size;
}

// Error message
.error-message {
    background-color: lighten(#b7190e, 52%);
    border-radius: 5px;
    border-left: 5px solid #b7190e;
    // box-shadow: settings.$box-shadow;
    padding: 1.2rem 2.3rem;
}