@use '../base/settings';

.kanban .container {
    @include settings.flex(wrap, stretch, space-between)
}

%kanban__board {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 40%);
    text-align: center;
    width: 31.1%;
}

.kanban__board--todo {
    @extend %kanban__board;
    border-top: 4px solid #f00000;
}

.kanban__board--doing {
    @extend %kanban__board;
    border-top: 4px solid #f8b700;
}

.kanban__board--done {
    @extend %kanban__board;
    border-top: 4px solid #00c5b0;
}

.kanban__thead {
    border-bottom: 1px solid #d3d3d3;
    padding: 12px;
}

.kanban__tbody {
    font-size: settings.$text-small;
}

.kanban__item {
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    display: block;
    margin: 12px 16px;
    padding: 12px;
    transition: all 0.2s ease-in-out;

    &:hover {
        box-shadow: 0 2px 5px rgb(0 0 0 / 40%);
        transform: translate(0px, -2px);
    }
}

.kanban__item__title,
.kanban__item__description,
.kanban__item__invoice {
    word-break: break-all;
}

.kanban__tbody a > * {
    margin: 0;
}

.kanban__add-plus {
    font-size: 2.4rem;
}

.kanban__item__title {
    font-weight: 700;
}

