@use '../base/settings';

// Containers
.layout-selector {
    margin-bottom: settings.$m-size;
}

.layout-selector__wrapper {
    border-radius: settings.$border-radius;
    box-shadow: settings.$box-shadow;
    @media screen and (min-width: settings.$tablet-breakpoint) {
        @include settings.flex(wrap, stretch);
    }
}

// Items
.layout-selector__item {
    border-right: settings.$border;
    cursor: pointer;
    padding: settings.$s-size settings.$m-size;
    transition: 0.2s background ease-in;
    width: 100%;
    
    @media screen and (min-width: settings.$tablet-breakpoint) {
        width: auto;
    }

    &:hover {
        background-color: settings.$light-gray;
    }

    * {
        pointer-events: none;
    }

    span {
        text-transform: capitalize;
    }

    svg {
        margin-right: 10px;
    }
}

.layout-selector__item--selected {
    border-bottom: 2px solid settings.$purple;
}