@use '../base/settings';

// Containers
.list {
    margin-bottom: settings.$m-size;
}

.list__proyect-table,
.list__task-table {
    border-radius: settings.$border-radius;;
    box-shadow: settings.$box-shadow;
}

.list__header {
    @extend %gradient-background;
    border-top-left-radius: settings.$border-radius;
    border-top-right-radius: settings.$border-radius;
}

.list__header,
.list__body {
    padding: 0 settings.$s-size;
    @media screen and (min-width: settings.$tablet-breakpoint) {
        padding: 0 settings.$m-size;
    }
}

// Items
%list__item {
    @include settings.flex($align-items: center);
    flex-direction: row;
    padding: settings.$xs-size;
}

.list__body-item {
    @extend %list__item;
    color: #000000;
    font-size: 14px;
}

.list__header-item {
    @extend %list__item;
    color: #ffffff;
}

.list__body-item {
    border-bottom: 1px solid settings.$light-gray;
    color: settings.$dark-gray;
}

// Text
.list__header-item > *,
.list__body-item > * {
    margin: 0;
}

.list__header .list__name,
.list__header .list__invoice {
    cursor: pointer;
}

.list__header .list__name span,
.list__header .list__invoice span {
    margin-right: 10px;
}

.list__proyect-table .list__name {
    width: 50%;
}

.list__task-table .list__name {
    width: 60%;
}

a.list__name {
    color: settings.$dark-gray;
}

a.list__name,
a.list__invoide {
    word-break: break-all;
}

.list__proyect-table .list__status {
    width: 20%;
}

.list__task-table .list__status {
    width: 25%;
}

/*.list__status--todo {
    color: lighten(settings.$red, 0%);
}

.list__status--doing {
    color: lighten(settings.$orange, 0%);
}

.list__status--done {
    color: lighten(settings.$green, 0%);
}*/

.list__invoice {
    width: 15%;
    text-align: center;
}

.list__dropdown {
    width: 15%;
    text-align: center;
}

.list__body .list__name:hover {
    color: #000000;
    text-decoration: underline;
}

// Dropdown
.list__dropdown-button {
    display: inline-block;
    background-color: #000000;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: settings.$border-radius;
    box-shadow: settings.$box-shadow;
    transition: all 0.2s ease-in-out;

    &:hover {
        cursor: pointer;
        box-shadow: 0 3px 9px rgb(0 0 0 / 40%);
    }

    * {
        pointer-events: none;
    }

    svg:nth-child(1) {
        margin-right: 5px;
    }
}

.list__dropdown-content {
    background-color: #ffffff;
    border-radius: settings.$border-radius;
    box-shadow: settings.$box-shadow;
    color: #000000;
    display: block;
    position: absolute;
    text-align: left;
    z-index: 1000; 
}

.list__dropdown-content ul {
    margin: 0;
    padding: 0;
}

%li-dropdown {
    list-style: none;
    cursor: pointer;

    &:hover {
        background-color: settings.$light-gray;
    }
}



.list__dropdown-content li:first-child {
    @extend %li-dropdown;
    padding: settings.$s-size settings.$l-size 0.8rem;
}

.list__dropdown-content li:not(:first-child):not(:last-child) {
    @extend %li-dropdown;
    padding: 0.8rem settings.$l-size 0.8rem;
}

.list__dropdown-content li:last-child {
    @extend %li-dropdown;
    padding: 0.8rem settings.$l-size settings.$s-size; 
}



    
