@use '../base/settings';

.login-layout {
    @extend %gradient-background;
    @include settings.flex(wrap, center, center);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.login-layout__box {
    background-color: #ffffff;
    border-radius: settings.$border-radius;
    box-shadow: settings.$box-shadow;
    padding: settings.$l-size settings.$xs-size;
    text-align: center;
    width: 35rem;

    @media only screen and (min-width: settings.$tablet-breakpoint) {
        padding: settings.$l-size settings.$m-size;
    }
}

.login-layout__title {
    margin: 0 0 settings.$s-size 0;
}

// Email login page
.email-login-page {
    margin-top: settings.$xl-size;
}

.email-login-page__title {
    line-height: settings.$l-size;
}