@use '../base/settings';

.page-header {
    padding: settings.$xl-size 0 settings.$m-size;
    margin-bottom: settings.$m-size;
}

.page-header__wrapper {
    @include settings.flex(wrap, flex-end, space-between);
}

.page-header__title {
    line-height: 3.6rem;
    margin-bottom: settings.$xs-size;
}

.page-header__text {
    font-size: settings.$text-small;
    margin-bottom: settings.$xs-size;

    @media screen and (min-width: settings.$tablet-breakpoint) {
        margin-bottom: 0;
    }
}