@use '../base/settings';

.pagination {
    @include settings.flex(wrap, center, space-between);
    padding: settings.$s-size 0;
}

.pagination__pages ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pagination__pages li {
    display: inline-block;
    margin: 0 2px;
}

.pagination__pages a {
    border-radius: 100px;
    display: inline-block;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    transition: all 0.2s ease-in-out;
    width: settings.$l-size;

    &:hover {
        box-shadow: 0 3px 9px rgb(0 0 0 / 40%);
        transform: translate(0px, -2px);
    }
}

.pagination__active-page {
    background-color: purple;
    box-shadow: settings.$box-shadow;
    color: white;
}

.pagination__page {
    border-radius: 100px;
    box-shadow: settings.$box-shadow;
}