@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

h1, h2 {
    font-weight: 200;
    margin: 0;
}

h3 {
    font-weight: 300;
    margin: 0;
    text-transform: capitalize;  
}

h5, p, a {
    font-weight: 300;
}

a {
    text-decoration: none;
}

